extends baseEmail

block content
  p Hi #{username},
  p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
  p (Website for this action not yet implememnted.)
  p If you didn't forget your password, please ignore this email!
